version: "3.7"

networks:
  ddlmain-network:

volumes:
  dbdata:
    driver: local

services:
  web:
    image: nginx:stable-alpine
    container_name: web
    volumes:
      - ./public:/var/www/public
      - ./storage/logs/:/var/log/nginx
      - ./docker/nginx/conf.d/ddlmain.local.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    restart: unless-stopped
    ports:
      - "8080:80"
    networks:
      - ddlmain-network
  db:
    image: mysql:5.7
    container_name: db
    environment:
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_USER: ${DB_USERNAME}
    volumes:
      - ./docker/mysql/db.cnf:/etc/mysql/conf.d/my.cnf
      - dbdata:/var/lib/mysql
    tty: true
    ports:
      - "3306:3306"
    networks:
      - ddlmain-network
  app:
    build:
      args:
        APP_ENV: ${APP_ENV}
        PHP_VERSION: ${PHP_VERSION}
      context: .
      dockerfile: Dockerfile
    container_name: app
    volumes:
      - ./docker/php/local.ini:/usr/local/etc/php/conf.d/local.ini
    restart: unless-stopped
    ports:
      - "9000:9000"
    networks:
      - ddlmain-network
