body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
    background-color: #ffffff;
}
body main section footer nav {
    display: flex;
}

main {
    min-height: 600px; 
}
.header {
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    color: white;
    justify-content: space-between;
}
.header-img {
    padding: 10px;
}
.header-right .main-navigation {
    display: flex;
    padding: 30px;
}
.main-navigation li a{
    margin: 5px;
    color: #ffffff;
}
.main-navigation li i {
    margin: 5px;
    font-size: 18px;
}
.main-navigation a:hover, .main-navigation a:active, .main-navigation a:focus {
    color: #da7437;
    cursor: pointer;
}
.header-right .language-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 0 25px 0 34px;
    margin-bottom: -23px;
}
.header-right .language-content li {
    margin-right: 10px;
    font-size: 16px;
}
.header-right .language-content li a {
    color: #ffa800;
}
.banner {
    padding: 5px;
    margin: 5px;
    text-align: center;
    background: #eeeeee;
}
.banner header {
    margin: 5px 0px 30px 0px;
}
.form-search {
    padding: .2rem 0rem;
    font-size: 1.25rem;
    line-height: 0.5;
    border-radius: .3rem;
    width: 50%;
    text-align: center;
}
.search-button {
    border: 1px solid transparent;
    padding: .2rem 0.75rem;
    font-size: 1.3rem;
    border-radius: .25rem;
    background-color: #ffa800;
}
.normal-button {
    border: 1px solid transparent;
    padding: .2rem 0.75rem;
    font-size: 0.9rem;
    border-radius: .25rem;
    background-color: #dddddd;
}
.ddl-buttons {
    margin: 25px 0 15px 0;
}
.ddl-top-news {
    padding: 5px;
    margin: 5px;
    text-align: center;
    border-radius: .25rem;
    background-color: #ffa800; 
}
.subjects{
    padding: 5px;
    margin: 5px;
    background: #eeeeee;
}
.subjects article {
    text-align: center;
    margin: 15px;
    padding: 15px;
}

.collections{
    padding: 5px;
    margin: 5px;
    background: #eeeeee;
}
.section-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section-content .home-subject-areas:hover {
    cursor: pointer;
    opacity: 0.5;
}

.resource-pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
    width: 100%
}

.resource-pagination ul {
    margin-top: 0;
    margin-bottom: 1rem;
}

.resource-pagination ul li {
    display: list-item;
    float: left;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.page-link:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.content article:hover {
    opacity: 0.5;
    cursor: pointer;
}
.collections article {
    text-align: center;
    margin: 15px;
    padding: 15px;
}
.latest-news{
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    margin: 5px;
    background: #eeeeee;
    justify-content: space-between;
}
.latest-news-div h2 {
    padding-bottom: 5px;
}
.latest-news-content {
    padding-top: 5px;
    padding-bottom: 15px;
}
.news-description {
    font-style: italic;
    font-size: 16px;
}
.ddl-video h2 {
    padding-bottom: 5px;
}
.ddl-video-content {
    height: 0;
    position: relative;
	padding-bottom: 56.25%; /* 16:9 */
}
footer {
    flex-wrap: wrap;
    height: 5rem;
    background-color: #eeeeee;
    color: black;
    bottom: 0;
}
footer nav{
    padding-top: 30px;
}
footer nav a{
    padding: 15px;
    color: black;
}

/** Registration */
.ddl-forms {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
}
.ddl-forms header {
    margin-bottom: 20px;
}
.content-body {
    width: 100%;
}
.form-item {
    max-width: 100%;
    margin-bottom: 15px;
}
.form-item label {
    display: block;
    margin-bottom: 4px;
}

.form-control {
    display: block;
    padding: .375rem .75rem;
    font-size: .9rem;
    line-height: 1.6;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border-radius: .25rem;
    -webkit-transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out
}

.form-control::-ms-expand {
    background-color: transparent;
    border: 0
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    -webkit-box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25);
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25)
}

.form-control::-webkit-input-placeholder {
    color: #6c757d;
    opacity: 1
}

.form-control:-ms-input-placeholder,
.form-control::-ms-input-placeholder {
    color: #6c757d;
    opacity: 1
}

.form-control::placeholder {
    color: #6c757d;
    opacity: 1
}

.form-control:disabled,
.form-control[readonly] {
    background-color: #e9ecef;
    opacity: 1
}

select.form-control:not([size]):not([multiple]) {
    height: calc(2.19rem + 2px)
}

select.form-control:focus::-ms-value {
    color: #495057;
    background-color: #fff
}

.form-control-file,
.form-control-range {
    display: block;
    width: 100%
}

.ddl-forms select {
    width: 22rem;
}

.ddl-forms .description {
    line-height: 20px;
    font-size: .85em;
}

.personal-information {
    display: flex;
    flex-wrap: wrap;
}

.personal-information .right-side {
    flex: 1 1 45%;
}
.personal-information .left-side {
    flex: 1 1 55%;
}

.btnlink {
    padding-top: 15px;
}

.btn-div {
    margin-top: 15px;
}

.general-content {
    padding: 5px;
    margin: 5px;
}

.general-content ul {
    display: block;
    list-style-type: disc;
    margin: 0 0 10px 25px;
}

.resource-list {
    display: flex;
    padding: 5px;
    margin: 5px;
}

.resource-list aside {
    flex: 1 1 25%;
    border-right: 1px solid #eee;
}

.resource-list ul li {
    font-size: 12px;
}

.sub-item {
    margin: 0 10px 0 10px;
}

aside .sub-subject-show {
    display: block;
}

.resource-list .resource-information-section {
    flex: 1 1 75%;
    flex-wrap: wrap;
    display: flex;
}

.resource-information-section .resource-article:hover {
    cursor: pointer;
    opacity: 0.7;
}

.resource-list .resource-information {
    flex-basis: auto;
    margin: 5px;
}
.resource-list .resource-title {
    border: 1px solid #eee;
    width: 200px;
    height: 50px;
}
.resource-list .resource-img {
    width: 200px;
    height: 167px;
}
.resource-list .resource-details {
    display: flex;
    justify-content: space-around;
    border: 1px solid #eee;   
    width: 200px;
}

.resource-list .resource-details article {
    display: flex;
    flex-direction: column;
    padding: 2px;
    margin: 2px;
}

.resource-list .resource-details span {
    text-align: center;
}

.resource-list .resource-details i {
    text-align: center; 
}

.resource-view {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    margin: 5px;
}

.resource-view aside {
    flex: 1;
    border-right: 1px solid #eee;
}

.resource-view .resource-view-information-section {
    flex: 4;
    padding-right: 5px;
    margin-left: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.resource-view .resource-view-img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 282px;
    height: 254px;
}

.resource-view .resource-view-title-box {
    border: 1px solid #eee;
    padding: 5px;
}

.resource-view .resource-view-title {
    display: flex;
    justify-content: space-between;
}

.resource-view .resource-icons {
    padding: 10px;
}

.resource-view .resource-icons i {
    margin: 5px;
    color: #ced6dc;
}

.resource-view .resource-icons i.active {
    color: #ffa800;
}

.resource-view .resource-icons i:focus, .resource-view .resource-icons i:hover {
    color: #ffa800;
}


.resource-view-title-box img:first-child {
    display: none;
}

.resource-view-title-box p {
    min-height: 100px;
}

.resource-view-title-box p:empty {
    display: none;
}

.resource-view .resource-view-details {
    border: 1px solid #eee;
    padding: 5px;
    margin-top: 5px;
}

.resource-view-details .download-box {
    display: flex;
    flex-wrap: wrap;
}

.resource-view-details .download-box .download-item {
    width: 50%;
    margin: 1em 0 0.1em 0;
}

.resource-view .social-share{
    text-align: center;
    margin: 5px;
    padding: 5px;
}

.social-share i {
    cursor: pointer;
}

.social-share i:hover {
    color: #ffa800;
}

.resource-view .resource-view-related-items {
    width: 288px;
    margin: 0 auto;  
}

.resource-view .resource-related-items-box {
    border: 1px solid #eee;
    padding: 5px; 
}

.resource-related-items-box .related-item {
    padding: 2px;
    margin: 2px;
    display: flex;
    flex-wrap: wrap;
}

.resource-related-items-box .related-item span {
    overflow-wrap: break-word;
    word-wrap: break-word;
    margin: 2px;
    flex: 3;
}

.resource-view .related-items-img {
    margin-right: 5px;
    width: 55px;
    height: 50px;
}

.resource-view .resource-view-comment {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #eee;
    padding: 5px;
    margin: 5px;   
    width: 100%;
}

.resource-view-comment header {
    flex: 1 1 25%;
}

.resource-view-comment div {
    flex: 1 1 75%;
    text-align: right;
}

.resource-view-comment article {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.ck-editor__editable {
    min-height: 200px;
}

/* Start - The Modal */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    float: right;
    font-size: 22px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #ffa800;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #ffa800;
}

/* End - The Modal */