/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/**
End of CSS reset
*/
body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
body main section footer nav {
    display: flex;
}

main {
    min-height: 600px; 
}
.header {
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    color: white;
}
.headerImg {
    padding: 10px;
}
.ddlLogo {
    flex: 3;
}
.headerRight {
    float: right;
}
.headerRight .mainNavigation {
    display: flex;
    padding: 30px;
}
.mainNavigation li a{
    margin: 5px;
    color: #ffffff;
}
.mainNavigation li i {
    margin: 5px;
    font-size: 18px;
}
.mainNavigation a:hover, .mainNavigation a:active, .mainNavigation a:focus {
    color: #da7437;
    cursor: pointer;
}
.headerRight .languageContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 0 25px 0 34px;
    margin-bottom: -23px;
}
.headerRight .languageContent li {
    margin-right: 10px;
    font-size: 16px;
}
.headerRight .languageContent li a {
    color: #ffa800;
}
.banner {
    padding: 5px;
    margin: 5px;
    text-align: center;
    background: #eeeeee;
}
.banner header {
    margin: 5px 0px 30px 0px;
}
.formSearch {
    padding: .2rem 0rem;
    font-size: 1.25rem;
    line-height: 0.5;
    border-radius: .3rem;
    width: 50%;
    text-align: center;
}
.searchButton {
    border: 1px solid transparent;
    padding: .2rem 0.75rem;
    font-size: 1.3rem;
    border-radius: .25rem;
    background-color: #ffa800;
}
.normalButton {
    border: 1px solid transparent;
    padding: .2rem 0.75rem;
    font-size: 1.2rem;
    border-radius: .25rem;
    background-color: #dddddd;
}
.ddlButtons {
    margin: 25px 0 15px 0;
}
.ddlTopNews {
    padding: 5px;
    margin: 5px;
    text-align: center;
    border-radius: .25rem;
    background-color: #ffa800; 
}
.subjects{
    padding: 5px;
    margin: 5px;
    background: #eeeeee;
}
.subjects article {
    text-align: center;
    margin: 15px;
    padding: 15px;
}

.collections{
    padding: 5px;
    margin: 5px;
    background: #eeeeee;
}
.sectionContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sectionContent .homeSubjectAreas:hover {
    cursor: pointer;
    opacity: 0.5;
}

.resourcePagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
    width: 100%
}

.resourcePagination ul {
    margin-top: 0;
    margin-bottom: 1rem;
}

.resourcePagination ul li {
    display: list-item;
    float: left;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.page-link:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.content article:hover {
    opacity: 0.5;
    cursor: pointer;
}
.collections article {
    text-align: center;
    margin: 15px;
    padding: 15px;
}
.latestNews{
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    margin: 5px;
    background: #eeeeee;
}
.latestNewsDiv {
    flex: 1;
}
.latestNewsDiv h2 {
    padding-bottom: 5px;
}
.latestNewsContent {
    padding-top: 5px;
    padding-bottom: 15px;
}
.newsDescription {
    font-style: italic;
    font-size: 16px;
}
.ddlVideo {
    flex: 1;
}
.ddlVideo h2 {
    padding-bottom: 5px;
}
.ddlVideoContent {
    height: 0;
    position: relative;
	padding-bottom: 56.25%; /* 16:9 */
}
.ddlVideoContent iframe {
    position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
footer {
    flex-wrap: wrap;
    height: 5rem;
    background-color: #eeeeee;
    color: black;
    bottom: 0;
}
footer nav{
    padding-top: 30px;
}
footer nav a{
    padding: 15px;
    color: black;
}

/** Registration */
.ddl-forms {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
}
.ddl-forms header {
    margin-bottom: 20px;
}
.content-body {
    width: 100%;
}
.form-item {
    max-width: 100%;
    margin-bottom: 15px;
}
.form-item label {
    display: block;
    margin-bottom: 4px;
}

.form-control {
    display: block;
    padding: .375rem .75rem;
    font-size: .9rem;
    line-height: 1.6;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border-radius: .25rem;
    -webkit-transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out
}

.form-control::-ms-expand {
    background-color: transparent;
    border: 0
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    -webkit-box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25);
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25)
}

.form-control::-webkit-input-placeholder {
    color: #6c757d;
    opacity: 1
}

.form-control:-ms-input-placeholder,
.form-control::-ms-input-placeholder {
    color: #6c757d;
    opacity: 1
}

.form-control::placeholder {
    color: #6c757d;
    opacity: 1
}

.form-control:disabled,
.form-control[readonly] {
    background-color: #e9ecef;
    opacity: 1
}

select.form-control:not([size]):not([multiple]) {
    height: calc(2.19rem + 2px)
}

select.form-control:focus::-ms-value {
    color: #495057;
    background-color: #fff
}

.form-control-file,
.form-control-range {
    display: block;
    width: 100%
}

.ddl-forms select {
    width: 22rem;
}

.ddl-forms .description {
    line-height: 20px;
    font-size: .85em;
}

.personal-information {
    display: flex;
    flex-wrap: wrap;
}

.personal-information .right-side {
    flex: 1 1 45%;
}
.personal-information .left-side {
    flex: 1 1 55%;
}

.btnlink {
    padding-top: 15px;
}

.btn-div {
    margin-top: 15px;
}

.generalContent {
    padding: 5px;
    margin: 5px;
}

.generalContent ul {
    display: block;
    list-style-type: disc;
    margin: 0 0 10px 25px;
}

.resourceList {
    display: flex;
    padding: 5px;
    margin: 5px;
}

.resourceList aside {
    flex: 1 1 25%;
    border-right: 1px solid #eee;
}

aside .subSubjectShow {
    display: block;
}

.resourceList .resourceInformationSection {
    flex: 1 1 75%;
    flex-wrap: wrap;
    padding: 5px;
    margin: 5px;
    display: flex;
}

.resourceInformationSection .resourceArticle:hover {
    cursor: pointer;
    opacity: 0.7;
}

.resourceList .resourceInformation {
    flex-basis: auto;
    padding: 5px;
    margin: 5px;
}
.resourceList .resourceTitle {
    border: 1px solid #eee;
    width: 200px;
    height: 50px;
}
.resourceList .resourceImg {
    width: 200px;
    height: 167px;
}
.resourceList .resourceDetails {
    display: flex;
    justify-content: space-around;
    border: 1px solid #eee;   
    width: 200px;
}

.resourceList .resourceDetails article {
    display: flex;
    flex-direction: column;
    padding: 2px;
    margin: 2px;
}

.resourceList .resourceDetails span {
    text-align: center;
}

.resourceList .resourceDetails i {
    text-align: center; 
}

.resourceView {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    margin: 5px;
}

.resourceView aside {
    flex: 1 1 24%;
    border-right: 1px solid #eee;
}

.resourceView .resourceViewInformationSection {
    flex: 1 1 75%;
    padding-right: 5px;
    margin-left: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.resourceView .resourceViewImg {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 282px;
    height: 254px;
}

.resourceView .resourceViewTitleBox {
    border: 1px solid #eee;
    padding: 5px;
}

.resourceViewTitleBox img:first-child {
    display: none;
}

.resourceViewTitleBox p {
    min-height: 100px;
}

.resourceViewTitleBox p:empty {
    display: none;
}

.resourceView .resourceViewDetails {
    border: 1px solid #eee;
    padding: 5px;
    margin-top: 5px;
}

.resourceViewDetails .downloadBox {
    display: flex;
    flex-wrap: wrap;
}

.resourceViewDetails .downloadBox .downloadItem {
    width: 50%;
    margin: 1em 0 0.1em 0;
}

.resourceView .ResourceSocialMedia{
    margin-left: 35px;
    margin-bottom: 20px;
}

.resourceView .ResourceViewRelatedItems {
    width: 288px;
    margin: 0 auto;  
}

.resourceView .ResourceRelatedItemsBox {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #eee;
    padding: 5px; 
}

.ResourceRelatedItemsBox .relatedItem {
    padding: 2px;
    margin: 2px;
    display: flex;
    flex-wrap: wrap;
}

.ResourceRelatedItemsBox .relatedItem span {
    overflow-wrap: break-word;
    word-wrap: break-word;
    margin: 2px;
    flex: 3;
}

.resourceView .relatedItemsImg {
    margin-right: 5px;
    width: 55px;
    height: 50px;
}

.resourceView .ResourceViewComment {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #eee;
    padding: 5px;
    margin: 5px;   
    width: 100%;
}

.ResourceViewComment header {
    flex: 1 1 25%;
}

.ResourceViewComment div {
    flex: 1 1 75%;
    text-align: right;
}

.ResourceViewComment article {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}