
/*Responsive - survey pop-up*/
.progress-bar-success{
  width: 30%;
}
@media only screen and (max-width: 800px) {
  .progress-bar-success {
    width: 50%;
  }
}

@media (max-width: 800px) {
    #surveyModal .modal-content {
        width: 80%;
    }
}
