
/*Responsive - survey pop-up*/
.progress-bar-success{
  width: 30%;
}
@media only screen and (max-width: 800px) {
  .progress-bar-success {
    width: 50%;
  }
}

@media only screen and (max-width: 700px) {
  .progress-bar-success {
    width: 65%;
  }
}

@media only screen and (max-width: 450px) {
  .progress-bar-success {
    width: 85%;
  }
}