.m-0{ margin:0px !important}
.mt-0{ margin-top:0px !important}
.mt-1{ margin-top:4px !important}
.mt-2{ margin-top:8px !important}
.mt-5{ margin-top:20px !important}
.d-block{ display:block !important}
.d-inline-block{ display:inline-block !important}
.btn-outline-secondary{
    border-color: #6c757d !important;
    color: #6c757d !important;
}
.btn-outline-secondary:hover{
    border-color: #ffa800 !important;
    color: #ffa800 !important;
}
.text-start{ text-align: start;}
.text-end{ text-align: end;}
.text-center{text-align: center !important;}
.w-100{width:100% !important;}

/* Login page */
.divider {
    display: flex;
    margin: 30px 0;
    color: #151429;
    font-weight: 500;
    font-size: 16px;
    white-space: nowrap;
    text-align: center;
    border-top: 0;
    border-top-color: rgba(0, 0, 0, 0.06);
}

.divider-inner-text {
    display: inline-block;
    padding: 0 1em;
}

.divider::after,
.divider::before {
    position: relative;
    top: 50%;
    width: 50%;
    border-top: 1px solid transparent;
    border-top-color: inherit;
    border-bottom: 0;
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
    content: '';
}

.socialite {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}
.socialite a{
    flex: 1;
}
.space-evenly{
    justify-content: space-evenly !important;
}
.disabled-link{
    pointer-events: none;
}

.display-none{
    display: none !important;
}

.flex-grow-1{
    flex-grow: 1;
}

.position-relative{
    position: relative;
}

.position-relative input {
    padding-inline-end: 30px;;
}

.password-toggle-icon, .confirm-password-toggle-icon{
    position: absolute;
    top: 10px;
    cursor: pointer;
}
[dir="rtl"] .password-toggle-icon, [dir="rtl"] .confirm-password-toggle-icon{
    left: 9px;
}
[dir="ltr"] .password-toggle-icon, [dir="ltr"]  .confirm-password-toggle-icon{
    right: 9px;
}
.border-top-gray{
    border-top: 1px solid gray;
}
.socialite-container{
    padding:0px 20px;
}
.overflow-x{
    overflow-x: auto;
}
.text-gray{
    color:gray;
}
.register-form-submit-btn{
    display: flex;
    justify-content:space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.display-inline-block {
    display:inline-block !important;
}

.p-7{
    padding-top: 7px;
    padding-bottom: 7px;
}

.display-flex{
    display: flex !important;
}
.justify-content-space-between{
    justify-content:space-between !important;
}
.justify-content-center{
    justify-content: center !important;
}
.p-8{
    padding: 32px !important;
}

/* alert */
.alert {
    position: absolute;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    margin:10px;
    min-width: 300px;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
.progress-bar-success{
    background-color: lightseagreen;
}

.progress-bar-danger{
    background-color: #f79898;
}
.progress-bar {
    height: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    animation: progress 10s linear forwards;
}

@keyframes progress {
    0% {
        width: 100%;
    }

    100% {
        width: 0%;
    }
}

.search-icon{
    color: #ffa300;
    display: block !important;
    position: absolute !important;
    top: 14px !important;
    cursor: pointer;
}

.search-icon-left{
    left: 11% !important;
}

.search-icon-right{
    right: 11% !important;
}
.search-input{
    width: 80% !important;
    padding:16px !important;
}
.relative-div{
    position: relative !important;
}
