.m-0{ margin:0px !important}
.mt-0{ margin-top:0px !important}
.mt-1{ margin-top:4px !important}
.mt-2{ margin-top:8px !important}
.mt-5{ margin-top:20px !important}
.d-block{ display:block !important}
.d-inline-block{ display:inline-block !important}
.btn-outline-secondary{
    border-color: #6c757d !important;
    color: #6c757d !important;
}
.btn-outline-secondary:hover{
    border-color: #ffa800 !important;
    color: #ffa800 !important;
}
.text-start{ text-align: start;}
.text-end{ text-align: end;}
.text-center{text-align: center !important;}
.w-100{width:100% !important;}
.h-100{height:100% !important;}

/* Login page */
.divider {
    display: flex;
    margin: 30px 0;
    color: #151429;
    font-weight: 500;
    font-size: 16px;
    white-space: nowrap;
    text-align: center;
    border-top: 0;
    border-top-color: rgba(0, 0, 0, 0.06);
}

.divider-inner-text {
    display: inline-block;
    padding: 0 1em;
}

.divider::after,
.divider::before {
    position: relative;
    top: 50%;
    width: 50%;
    border-top: 1px solid transparent;
    border-top-color: inherit;
    border-bottom: 0;
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
    content: '';
}

.socialite {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}
.socialite a{
    flex: 1;
}
.space-evenly{
    justify-content: space-evenly !important;
}
.disabled-link{
    pointer-events: none;
}

.display-none{
    display: none !important;
}

.flex-grow-1{
    flex-grow: 1;
}

.position-relative{
    position: relative;
}

.position-relative input {
    padding-inline-end: 30px;;
}

.password-toggle-icon, .confirm-password-toggle-icon{
    position: absolute;
    top: 10px;
    cursor: pointer;
}
[dir="rtl"] .password-toggle-icon, [dir="rtl"] .confirm-password-toggle-icon{
    left: 9px;
}
[dir="ltr"] .password-toggle-icon, [dir="ltr"]  .confirm-password-toggle-icon{
    right: 9px;
}
.border-top-gray{
    border-top: 1px solid gray;
}
.socialite-container{
    padding:0px 20px;
}
.overflow-x{
    overflow-x: auto;
}
.text-gray{
    color:gray;
}
.register-form-submit-btn{
    display: flex;
    justify-content:space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.display-inline-block {
    display:inline-block !important;
}

.p-7{
    padding-top: 7px;
    padding-bottom: 7px;
}

.display-flex{
    display: flex !important;
}
.justify-content-space-between{
    justify-content:space-between !important;
}
.justify-content-center{
    justify-content: center !important;
}
.p-8{
    padding: 32px !important;
}

/* alert */
.alert {
    position: absolute;
    padding: 0.75rem 1.25rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    margin:90px 10px;
    top:0;
    min-width: 312px;
    max-width: 350px;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
.progress-bar-success{
    background-color: lightseagreen;
}

.progress-bar-danger{
    background-color: #f79898;
}
.progress-bar {
    height: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    animation: progress 10s linear forwards;
}

@keyframes progress {
    0% {
        width: 100%;
    }

    100% {
        width: 0%;
    }
}

.search-icon{
    color: #ffa300;
    display: block !important;
    position: absolute !important;
    top: 14px !important;
    cursor: pointer;
}

.search-icon-left{
    left: 9.5% !important;
}

.search-icon-right{
    right: 9.5% !important;
}
.search-input{
    width: 80% !important;
    padding:16px !important;
}
.relative-div{
    position: relative !important;
}
.search-section{
    background:#eee;
    padding:40px 0px;
}
.resource-items{
    display: flex;height:100%;
    flex-direction: column;
    align-items: center;
    border:1px solid #eec67b;
    justify-content: space-between
}

a.resource-link:active,
a.resource-link:visited,
a.resource-link:link {
color: #000;
text-decoration: none;
}
.resource-link:hover {
    color:#ffa800 !important;
} 
.image-link img
{
    transition: transform 500ms ease-in-out;
}
.image-link:hover img{
    transform: scale(1.04);
    opacity:0.8;
}
.overflow-hidden{
    overflow: hidden;
}
.flex-1{
    flex:1;
}
.flex-5{
    flex:5;
}
.p-1{
    padding:4px;
} 
.p-2{
    padding:8px;
}
.p-5{
    padding:20px;
}  
.gap-5{
    gap: 20px;
}
.flex-direction-column{
    flex-direction: column;
}
.user-state{
    display:inline-block;
    padding:2px 10px;
    border-radius:3px;
    color:#fff;
}
.border-yellow{
    border:1px solid #ffa800;
}
.border-radius-5{
    border-radius: 5px;
}
.bg-red-300{ background:#c54242;}
.bg-lightseagreen{ background:lightseagreen;}
.book-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 5px;
}

.book-cover {
    object-fit: cover;
    height: 220px
}

@media screen and (max-width: 1200px) {
    .book-list {
        grid-template-columns: repeat(3, 1fr);
        /* Display 3 columns */
    }

    .book-cover {
        height: 250px
    }
}

@media screen and (max-width: 992px) {
    .book-list {
        grid-template-columns: repeat(2, 1fr);

    }
    .book-cover {
        height: 350px
    }
}

@media screen and (max-width: 576px) {
    .book-list {
        grid-template-columns: repeat(1, 1fr);
        /* Display 1 column */
    }
    .book-cover {
        height: 400px
    }
}

.resource-details article:hover span,
.resource-details article:hover i {
    color: #ffa800;
}

.no-border{ border:none !important}
.book-items{box-shadow: 0px 1px 2px 2px lightgray}
.ml-2{ margin-left: 8px;}
.mr-2{ margin-right: 8px;}
.pointer{cursor: pointer;}
.position-left-0{left: 0;}
.position-right-0{right: 0;}
.z-index-2{z-index: 2 !important;}
.black { color: #000 !important}
.yellow { color: #ffa800 !important;}
.mb-1 { margin-bottom: 4px !important;}
.mt-1 { margin-top: 4px !important;}
.mt-1 { margin-top: 4px !important;}
.bg-yellow { background-color: #ffa800 !important;}
.p-2-1{
    padding:16px 8px !important;
}
.resource-category li{
    margin: 2px 0px !important;
}
.resource-category li:hover{
    background-color: #f8c45b !important;
    border-radius: 5px;
    cursor: pointer;
}
.resource-icons{
    padding:10px 0px
}
.resource-icon article i{
    line-height: inherit;
}

.resource-icon article span{
    font-size: 15px;
    display:inline-block;
    padding:0px 2px;
}

.align-items-center{
    align-items: center !important;
}
.gap-1{
    gap: 4px;
}
